body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
}
.header{
    display: flex;
    width: 100%;
    justify-content: center;
}
.books{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
}